<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>67077215516-juf0u5kl0nhinsp7hr4e9mhs0vgfag18.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.67077215516-juf0u5kl0nhinsp7hr4e9mhs0vgfag18</string>
	<key>API_KEY</key>
	<string>AIzaSyDTnXHn4C8f9eV4QMm5cyVO-4feEgjOk1Y</string>
	<key>GCM_SENDER_ID</key>
	<string>67077215516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.awisniewski.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-cd7d6</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-cd7d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:67077215516:ios:b31ebb7f178cab6b89d6d9</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-cd7d6.firebaseio.com</string>
</dict>
</plist>